[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
torch = "==2.2.2"
matplotlib = "*"
scikit-learn = "*"
pandas = "*"
torchmetrics = "*"
requests = "*"
torchvision = "*"
tqdm = "*"
mlxtend = "*"
torchinfo = "*"
tensorboard = "*"
dill = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
